/web_crawler/web_crawler_for_work/ua_list/
/proxy_ip/
/csv_to_excel/csv_folder/
/csv_to_excel/ua_ip/
/csv_to_excel/_pycahe_/
.vscode/
_pycahe_/
web_crawler/get_icon/pic/
web_crawler/web_crawler_for_work/mitre/
web_crawler/web_crawler_for_work/proxy_ip/
machine_Learning/mouse_tracker_slide_captcha/clean_data/
machine_Learning/mouse_tracker_slide_captcha/orginal_data/
geckodriver.log
*.pyc